body {
  margin: 0;
  background-color: rgba(143, 188, 143, 0.2);
  color: #332a20;
  font-family: "Tenor Sans", "Montserrat Classic", "Montserrat", sans-serif;
}

a {
  display: inline-block;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #332a20;
  border-bottom: 1px solid transparent;
}

.link:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: 2px solid #0ea087;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.container {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding-right: 45px;
  background-color: #ffffff;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0;
  }
}

.skills__list li::marker,
.about-me__strengths li::marker,
.languages__list li::marker {
  color: #f36b59;
  font-size: 20px;
}

/*aside block*/
.aside {
  position: fixed;
  width: 20%;
  min-width: 300px;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .aside {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 230px;
  }
}
@media screen and (max-width: 768px) {
  .aside {
    height: auto;
  }
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 330px;
  height: 100%;
  border-top-left-radius: 177px;
  border-top-right-radius: 177px;
  background-color: #5ad8c4;
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .menu--active {
    position: absolute;
    display: block;
    right: 0;
    width: 50%;
    height: auto;
    z-index: 4;
    background-color: #5ad8c4;
    transition: left 0.3s ease-in 0s;
    overflow: auto;
    border-radius: 0;
    padding: 0;
    border-bottom-left-radius: 128px;
  }
}
@media screen and (max-width: 560px) {
  .menu--active {
    position: fixed;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 150px;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.menu__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 7px 0;
  padding-left: 0;
  text-align: center;
  list-style: none;
  line-height: 2;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .menu__list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 560px) {
  .menu__list {
    line-height: 2.3;
  }
}
.menu__item a {
  display: inline-block;
  color: #ffffff;
}
.menu__item a:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.photo {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .photo {
    position: relative;
    top: 10px;
    left: 60px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    transition: transform 0.4s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  .photo {
    top: calc((100% - 220px)/2);
    left: calc((100% - 180px)/2);
  }
  .photo--translated {
    transform: translateX(-170px);
    transition: all 0.4s ease-in-out;
  }
}
@media screen and (max-width: 560px) {
  .photo {
    transform: none;
    transition: none;
    top: calc((100% - 400px)/2);
    left: calc((100% - 200px)/2);
  }
}
.photo .my-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 30px #f36b59 inset;
  -moz-box-shadow: 0px 0px 0px 30px #f36b59 inset;
  box-shadow: 0px 0px 0px 30px #f36b59 inset;
}
@media screen and (max-width: 900px) {
  .photo .my-photo {
    -webkit-box-shadow: 0px 0px 0px 20px #f36b59 inset;
    -moz-box-shadow: 0px 0px 0px 20px #f36b59 inset;
    box-shadow: 0px 0px 0px 20px #f36b59 inset;
  }
}
.photo img {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  object-fit: contain;
  border-radius: 50%;
}
.photo h2 {
  display: none;
}

/*main part on right*/
.main,
.footer {
  margin-left: 40%;
}
@media screen and (max-width: 900px) {
  .main,
.footer {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .main,
.footer {
    margin: 0 40px;
  }
}
@media screen and (max-width: 560px) {
  .main,
.footer {
    margin: 0 10px;
  }
}

.main {
  padding-top: 70px;
}
@media screen and (max-width: 900px) {
  .main {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding-top: 28px;
  }
}
@media screen and (max-width: 560px) {
  .main {
    padding-top: 16px;
  }
}

section {
  padding-bottom: 10px;
}

h1.main-heading {
  width: 300px;
  margin: 0;
  font-size: 46px;
  color: #f36b59;
  text-transform: uppercase;
  letter-spacing: 10px;
}
@media screen and (max-width: 900px) {
  h1.main-heading {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  h1.main-heading {
    margin: auto;
    font-size: 36px;
    text-align: center;
  }
}

h2 {
  color: #0ea087;
  font-weight: 500;
  text-transform: uppercase;
}

.education__list,
.contacts__list,
.my-projects__list {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}
.education__list li,
.contacts__list li,
.my-projects__list li {
  display: flex;
}

.contacts {
  width: 180px;
}
@media screen and (max-width: 768px) {
  .contacts {
    margin: auto;
  }
}
.contacts h2 {
  display: none;
}
.contacts__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.contacts svg {
  width: 20px;
  height: 20px;
}
.contacts a {
  line-height: normal;
}
.contacts a:after {
  border-color: transparent;
}
.contacts a:hover svg {
  -webkit-filter: drop-shadow(1px 1px 10px #0ea087);
  filter: drop-shadow(1px 1px 5px #0ea087);
}
.contacts a img {
  width: 20px;
  height: 20px;
}

.about-me p {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .about-me .prof {
    text-align: center;
  }
}

.my-projects__list {
  list-style: none;
}
.my-projects li {
  display: block;
}
.my-projects li:first-of-type {
  margin-bottom: 32px;
}
.my-projects--fr:before, .my-projects--calc:before {
  position: absolute;
  top: 47%;
  margin: 0;
  font-size: 18px;
  color: #f36b59;
  transform: rotate(270deg);
}
@media screen and (max-width: 560px) {
  .my-projects--fr:before, .my-projects--calc:before {
    display: none;
  }
}
.my-projects--fr:before {
  content: "Freshnesecom";
}
.my-projects--calc:before {
  content: "JS Calculator";
}
.my-projects__preview {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 13px;
}
@media screen and (max-width: 560px) {
  .my-projects__preview {
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 7px;
  }
}
.my-projects__preview:hover {
  filter: drop-shadow(1px 0px 1px #f08f83ad);
}
.my-projects__preview img {
  width: 70%;
  margin: auto;
  border-radius: 30px;
  border: 3px solid #f08f83ad;
}
@media screen and (max-width: 560px) {
  .my-projects__preview img {
    width: 100%;
  }
}
.my-projects__preview h3 {
  font-size: 18px;
  color: #f36b59;
}
@media screen and (min-width: 561px) {
  .my-projects__preview h3 {
    display: none;
  }
}
.my-projects p {
  width: 70%;
  margin: auto;
  font-size: 15px;
  color: #332a20;
}
@media screen and (max-width: 560px) {
  .my-projects p {
    width: 85%;
  }
}

@media screen and (max-width: 560px) {
  .example--desktop {
    display: none;
  }
}

.example--mobile {
  margin: 0 -10px;
  font-size: 13px;
}
@media screen and (min-width: 560px) {
  .example--mobile {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 560px) {
  .footer {
    flex-wrap: wrap;
    padding: 0 0 15px 0;
  }
}
@media screen and (max-width: 560px) {
  .footer .copyright {
    display: block;
    width: 100%;
    margin-top: 12px;
    text-align: center;
    order: 2;
  }
}

@media screen and (min-width: 901px) {
  .burger-menu,
.burger {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 900px) {
  .burger,
.burger-menu {
    position: relative;
    display: block;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 5;
  }
}
@media screen and (max-width: 900px) {
  .burger {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    -o-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    -webkit-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
  }

  .burger__middle,
.burger::before,
.burger::after {
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background: #0ea087;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .burger__middle {
    top: calc((100% - 5px)/2);
    right: 0px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
@media screen and (max-width: 560px) {
  .burger {
    width: 30px;
    height: 30px;
  }
  .burger__middle {
    top: calc((100% - 4px)/2);
  }
  .burger-menu {
    width: 30px;
    height: 30px;
  }
  .burger__middle, .burger::after, .burger::before {
    width: 30px;
    height: 4px;
  }
}

.burger::before,
.burger::after {
  content: "";
  -moz-transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.burger::before {
  top: 0px;
}

.burger::after {
  bottom: 0px;
}

.burger-menu--open .burger__middle {
  opacity: 0;
}

.burger-menu--open .burger {
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.burger-menu--open .burger::after,
.burger-menu--open .burger::before {
  background-color: #0ea087;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger-menu--open .burger::after {
  top: 11px;
  transform: rotate(45deg);
}

.burger-menu--open .burger::before {
  top: 11px;
  transform: rotate(135deg);
}

/*# sourceMappingURL=styles.css.map */
